@import "tailwindcss";

@theme {
  --color-qsOrange: #FF6B00;
  --color-qsDark: #1A1A1A;
  --color-qsLight: #F8F9FA;
}

/* This keeps the Next.js background clean */
@layer base {
  body {
    background-color: var(--color-qsLight);
    color: var(--color-qsDark);
  }
}
